
.calculator {
    margin-top: 200px;
    margin-left: 500px;
    width: 250px;
    /* margin: 0 auto; */
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    box-shadow: 15px 19px 1px 6px rgb(219 208 208 / 72%);
}
  
#display {
    width: 85%;
    margin: 10px;
    height: 40px;
    font-size: 25px;
}
  
.all_btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
  
button {
    color: white;
    width: 50px;
    height: 40px;
    background-color: black;
    margin-left: 5px;
    margin-bottom: 5px;
    border-color: azure;
}

.operatorButtons{
    background-color: gray;
}

button#calculateCss {
    background-color: green;
}

button#danger {
    background-color: red;
}

div#calText{
    color: white;
    margin-top: 10px;
    font-size: 12px;
}